@charset "UTF-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

/* SEÇÃO BEM VINDO */
section.secao-bem-vindo {
    background-color: #fff;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    padding: 2rem;
    width: 400px;
    border-radius: 10px;
}

section.secao-bem-vindo .login-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.secao-bem-vindo .login-entrada .logo-entrar {}

section.secao-bem-vindo .login-entrada .logo-entrar i {
    font-size: 2em;
    color: #4d61fc;
    margin-bottom: 0.5rem;
}

section.secao-bem-vindo .login-entrada h2 {
    color: #2f2f2f;
    font-size: 2.5em;
    font-weight: 600;
}

section.secao-bem-vindo .login-entrada p {
    color: #2f2f2f;
    font-size: 1.1em;
    margin-bottom: 2rem;
}

/* FORMULÁRIO ENTRAR CONTA */
form.entrar-conta {}

form.entrar-conta > .campo-input {
    position: relative;
    margin-bottom: 1.5rem;
}

form.entrar-conta > .campo-input > label {
    display: block;
    font-size: 1em;
    color: #555;
    margin-bottom: 0.3rem;
}

form.entrar-conta > .campo-input input {
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    
}

form.entrar-conta > .campo-input label.logo {
    color: #4d61fc;
    position: absolute;
    top: 2.2rem;
    right: 1rem;
}

form.entrar-conta > .campo-input label.logo i {
    font-size: 1.1em;
}

form.entrar-conta fieldset.campo-esqueceu-senha {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

form.entrar-conta fieldset.campo-esqueceu-senha .campo-input {}

form.entrar-conta fieldset.campo-esqueceu-senha .campo-input input {
    display: none;
}

form.entrar-conta fieldset.campo-esqueceu-senha .campo-input input[type="checkbox"] + label::before {
    content: '✔';
    color: transparent;
    text-align: center;
    line-height: 1.5em;
    width: 18px;
    height: 18px;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.3rem;
    border-radius: 3px;
    border: none;
    font-size: 0.8em;
    border: 1px solid #e2e2e2;
}

form.entrar-conta fieldset.campo-esqueceu-senha .campo-input input[type="checkbox"]:checked +  label::before {
    background-color: #4d61fc;
    color: white;
    transition: .3s;
    transform: scale(1);
}

form.entrar-conta fieldset.campo-esqueceu-senha .campo-input label {
    color: #555;
}

form.entrar-conta fieldset.campo-esqueceu-senha a {
    color: #4d61fc;
}

form.entrar-conta .campo-entrar {
    position: relative;
    width: 50%;
}

form.entrar-conta .campo-entrar:hover {
    transform: translateY(-4px);
    transition: transform .6s ease;
}

form.entrar-conta .campo-entrar input {
    background-color: #4d61fc;
    display: block;
    width: 100%;
    border: none;
    padding: 0.8rem 0.7rem;
    border-radius: 4px;
    color: white;
    font-size: 1.1em;
}

form.entrar-conta .campo-entrar input:hover {
    background: #2036de;
}

form.entrar-conta .campo-entrar i {
    position: absolute;
    font-size: 1.3em;
    top: 0.8rem;
    color: white;
    right: 2rem;
}

/* SEÇÃO CRIAR CONTA */
section.secao-criar-conta {
    width: 405px;
    background-image: linear-gradient(109.6deg, #7412cb 11.2%, #e62e83 91.2%);
    transform: scale(1.01);
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}

section.secao-criar-conta .cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

section.secao-criar-conta .cadastro .logo-entrar {}

section.secao-criar-conta .cadastro .logo-entrar i {
    font-size: 2.3em;
    margin-bottom: 0.5rem;
}

section.secao-criar-conta .cadastro h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* FORMULÁRIO CRIAR CONTA */
form.cadastro-conta {}

form.cadastro-conta .campo-input {
    position: relative;
    margin-bottom: 1.5rem;
}

form.cadastro-conta .campo-input:nth-child(3) {
    margin-bottom: 4rem;
}

form.cadastro-conta .campo-input label {
    color: white;
    display: block;
    font-size: 1em;
    margin-bottom: 0.3rem;
}

form.cadastro-conta .campo-input input {
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
}

form.cadastro-conta .campo-input .logo {
    color: #4d61fc;
    position: absolute;
    top: 2.2rem;
    right: 1rem;
}

form.cadastro-conta .campo-criar {
    position: relative;
    width: 50%;
    margin-bottom: 2rem;
}

form.cadastro-conta .campo-criar:hover {
    transform: translateY(-4px);
    transition: transform .6s ease;
}

form.cadastro-conta .campo-criar input {
    background-color: white;
    display: block;
    width: 100%;
    border: none;
    padding: 0.8rem 0.7rem;
    border-radius: 4px;
    color: #555;
    font-size: 1.1em;
}

form.cadastro-conta .campo-criar i {
    position: absolute;
    font-size: 1.3em;
    top: 0.8rem;
    color: #555;
    right: 2rem;
}

form.cadastro-conta .campo-criar input:hover {
    background: #d5d7de;
}

section.secao-criar-conta .underline-form::before {
    left: 1rem;
    content: '';
    height: 1px;
    width: 372px;
    position: absolute;
    background-color: #e2e2e2;
    display: block;
}

section.secao-criar-conta .logos-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    color: white;
}

section.secao-criar-conta .logos-social .redes {
    font-size: 1.4em;
    display: flex;
    gap: 1rem;
}

section.secao-criar-conta .logos-social p {
    margin-bottom: 0.5rem;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 815px) {
    
    .body {
        min-width: 50vw;
    }

    .container {
        gap: 1rem;
        flex-direction: column;
    }

    form.entrar-conta .campo-entrar {
        width: 100%;
    }

    form.cadastro-conta .campo-criar {
        width: 100%;
    }

}

@media screen and (max-width: 430px) {
    
    section.secao-bem-vindo {
        width: 100%;
    }

    section.secao-criar-conta {
        width: 100%;
    }

    form.entrar-conta fieldset.campo-esqueceu-senha {
        flex-direction: column;
        gap: 1rem;
    }

    section.secao-criar-conta .underline-form::before {
        left: 1rem;
        content: '';
        height: 1px;
        width: 1px;
        position: absolute;
        background-color: #e2e2e2;
        display: block;
    }

}

@media screen and (max-width: 418px) {

    section.secao-criar-conta {
        width: 98%;
    }

    section.secao-criar-conta .cadastro h2 {
        font-size: 1.6em;
    }
}